h1  {
    font-size: 800%;
    font-family: "French Script MT", Times, serif;
    text: #bfbfbf;
    padding: 10px;
    text-shadow: 3px 3px #fca59c;
    margin-top: 40px;
    }
h2{
    text-align: center;
    font-family: "Bell MT", Times, serif;
    margin-left: 15%;
    font-size: 200%;
}
h3  {
    background-color:#dfecdf;
    text-align: left;
    font-family: "Bell MT", Times, serif;
    margin-left: 20%;
    }
h4  {
    text-align: right;
    font-family:"Bell MT", Times, serif;
    font-size: medium;
    padding: 2%;
}
div.relative{
    width: 100%;
    height:250px;

    padding:0;
    background-color: white;
    margin: 0;
    }
div.clear {
    clear: both;
    border: none;
}
body {
      background-color:#dfecdf;
      text-align: center;
      color: #808080;
       }
p {
      float: none;
      margin-left: 15%;
      text-align: center;
      form-align: center;
      font-size: 125%;
      font-family: "Bell MT", Times, serif;
  }
ul {
      list-style-type: none;
      float: left;
      margin: 0;
      padding:0;
      width: 15%;
      height: 100%;
      background-color: #fca59c;
      position: fixed;
      font-size: 150%;
  }
li a {
    padding:8px 8px;
    color: #808080;
    text-align: left;
    text-decoration: none;
    display: inline-block;
}
li a:hover, a:active {
    background-color:#dfecdf;
    width: 90%;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    background-color:#FAEBD7;
    padding: 10px;
    margin-left: 20%;
    table-layout: auto;
}
tr:hover{background-color: #bad095;}

th {text-align: left;}

td {text-align: center;}

img{border-radius: 10%;}

form{margin-left: 15%;}

/* Dropdown Button */
.dropbtn {
    background-color: #dfecdf;
    color: #808080;
    font-family: "Bell MT", Times, serif;
    padding: 10px 16px;
    width: 85%;
    font-size: 125%;
    border-radius: 10%;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #FAEBD7;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: fixed;
    display: block;
    list-style-type: none;
    float: left;
    width: 15%;
    height: 100%;
    background-color: #fca59c;
    font-size: 150%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 85%;
    margin-left: 7%;
    border-radius: 5%;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #808080;
    font-family: "Bell MT", Times, serif;
    font-size: 80%;
    width: 85%;
    padding: 10px 16px;
    display: inline-block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #FAEBD7;
    border-radius: 5%;
    width: inherit;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#wedround {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#wedround:hover {opacity: 0.7;}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}